<div class="container">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-warning btn-block animated bounce delay-5s" style="margin-bottom: 2rem;">
        INSTRUCCIONES
      </button>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <button class="btn btn-sucess"
      [routerLink]="['/iniciar-sesion']"
      >
        Iniciar Sesión
      </button>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>
