.formularios{
  background-image: url("https://www.eluniverso.com/sites/default/files/styles/powgallery_1024/public/fotos/2020/03/4151717.jpg?itok=9g91VNcd");

}

h1{
  color:white;
}
label{
  color:white;
}
