<h1>TITULO NOMBRE</h1>
<h2>h2</h2>
<h3>h3</h3>
<h4>h4</h4>
<h5>h5</h5>
<h6>h6</h6>

<img 
src="https://yt3.ggpht.com/a/AATXAJwh4DD3gexGcobUtNEtINdhyWQWbXNw7H4x-w=s900-c-k-c0xffffffff-no-rj-mo"   
width="400px"
height="400px"
alt="">
<p>listas no ordenadas etiqueta ul</p>
<ul>
  <li>opcion</li>
  <li>opcion</li>
  
</ul>
<p>listas ordenadas etiqueta ol</p>
<ol>
  <li>opcion</li>
  <li>opcion</li>
  
</ol>

<app-mi-primer-componente 
[titulo]="'soy tu padre'"
[nombreBoton]="'boton padre'"
[imagenPath]="imagen"
>
</app-mi-primer-componente>

