<div class="container">
  <h2>Deber Convertir página web a responsive - Banco Central del Ecuador</h2>
  <div class="menu-sup">
    <div class="row">
      <div class="col-sm-2">English-Version</div>
      <div class="col-sm-3">Comprobantes Electrónicos</div>
      <div class="col-sm-2">Mapa de Sitio</div>
      <div class="col-sm-2">Contáctanos</div>
      <div class="col-sm-3">
        <div class="social">
          <img src="https://www.bce.fin.ec/images/botones/web_aprobado-09.png" alt="">
          <img src="https://www.bce.fin.ec/images/botones/web_aprobado-10.png" alt="">
          <img src="https://www.bce.fin.ec/images/botones/web_aprobado-11.png" alt="">
          <img src="https://www.bce.fin.ec/images/botones/web_aprobado-12.png" alt="">
          <img src="https://www.bce.fin.ec/images/botones/web_aprobado-13.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="imagen">
    <img src="https://www.bce.fin.ec/images/bce-header.jpg" alt="">
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="menu collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" *ngFor="let item of arregloMenu">
        <li class="nav-item active">{{item.nombre}}</li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Buscar">
      </form>
    </div>
  </nav>

  <div class="banner">
    <div class="row">
      <div class="col-sm-4">
        <img src="https://www.bce.fin.ec/images/botones/bce-corto.png" alt="">
        <img src="https://www.bce.fin.ec/images/botones/producto-servicios-corto.png" alt="">
        <img src="https://www.bce.fin.ec/images/botones/btn_tramites_1.png" alt="">
        <img src="https://www.bce.fin.ec/images/botones/info-eco-2018-corto.png" alt="">
        <img src="https://www.bce.fin.ec/images/botones/btn-rendicion-cuentas-corto.png" alt="">
      </div>
      <div class="col-sm-8">
        <div>
          <div class="row">
            <div class="col-sm-12">
              <img class="imagen-contenido" src="https://www.bce.fin.ec/media/k2/items/cache/a6f7e66a6031337001655d616ce68fc7_XL.jpg" alt="" style="padding-bottom: 0px;">
            </div>
            <div class="col-sm-12">
              <div class="texto-contenido">
                EN EL MES DE ABRIL SE REGISTRÓ UNA ENTRADA NETA DE CAPITALES DE 445,8 MILLONES DE DÓLARES
                Los datos que se registran en el Banco Central muestran que, en lo que refiere a la entrada y salida de capitales con el sector privado, cerramos en el mes de abril 2020 con un saldo positivo ...
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
